html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: url("../images/sea-edge-79ab30e2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

